Package: cutefish-kwin-plugins-dbgsym
Package-Type: ddeb
Source: cutefish-kwin-plugins
Version: 0.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: CutefishOS <cutefishos@foxmail.com>
Installed-Size: 1109
Depends: cutefish-kwin-plugins (= 0.1)
Section: debug
Priority: optional
Description: debug symbols for cutefish-kwin-plugins
Build-Ids: 229db20da1bc9ce20f4025dc0169b1356151d01d 7ea52e3269b58dadbcd9962d497a3cc201548a02
